// OPACITY
$muslin: 0.7;
$batiste: 0.6;
$chiffon: 0.5;
$tulle: 0.3;
$gauze: 0.1;

// COLORS
$turquoise:      #59d5bc;
$dull-turquoise: #62d1ba;
$fade-turquoise: #63d1bb;
$teal:           #46c1ae;
$fade-teal:      #56c3b2;
$jade:           #149080;
$pearl:          #e7e7e7;
$light-pearl:    #ececec;
$dark-pearl:     #e5e5e5;
$blanc:          #f1f1f1;
$light-blanc:    #fafafa;
$charcoal:       #444444;
$dark-charcoal:  #010000;

// DIMENSIONS

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-padding: 30px;
$tablet-padding: 50px;
$desktop-padding: 175px;
$tablet-column: 334px;
$desktop-column: 350px;

// TEXTS
$default-font: "Open Sans", "Helvetica", sans-serif;
$text-color: $charcoal;
$big-text-color: black;
