.catalog__title {
  margin-bottom: 30px;
}

.catalog__list {
  margin: auto;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  padding-right: $mobile-padding;
  padding-left: $mobile-padding;
}

.catalog__item {
  margin-bottom: 30px;

  border: 1px solid $light-pearl;
}

.catalog__article-title {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
  font-family: $default-font;
  color: $big-text-color;
}
