.contacts {
  padding-top: 30px;
}

.contacts__title {
  padding: 0 $mobile-padding;
}

.contacts__info {
  // width: $mobile-width;
  // margin: 0 auto;
  padding: 30px $mobile-padding;
}

.contact__item {
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 30px;
}

.contacts__term {
  display: inline-block;
  width: 75px;
  vertical-align: top;
}

.contacts__data {
  display: inline-block;
  width: 180px;
  margin: 0;
  vertical-align: top;
}

.contacts__email {
  padding-bottom: 4px;
  color: $text-color;
  border-bottom: 1px solid $dull-turquoise;
}

.contacts__location {
  margin: 0;
  vertical-align: top;
}

.contacts__map {
  margin: 0 0 40px;
}

.contacts__write-us {
  margin: 0 auto;
  width: calc(#{$mobile-width} - 2 * #{$mobile-padding});
}

@media (max-width: $tablet-width) {
  .contacts__title {
    font-size: 18px;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .contacts__title {
    padding: 0 $tablet-padding;
  }

  .contacts__info {
    display: flex;
    padding: 30px $tablet-padding;
  }

  .contact__item {
    width: $tablet-column;
  }

  .contacts__data {
    // width: auto;
  }

  .contacts__location {
    width: 230px;
  }

  .contacts__write-us {
    // width: calc(#{$tablet-width} / 2 - 2 * #{$tablet-padding});
    width: auto;
    flex-shrink: 0;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
//
  }

  .contacts__title {
    padding: 0;
    padding-left: $tablet-padding;
    width: $desktop-column;
  }

  .contacts__info {
    padding: 0;
    padding-left: $desktop-padding;
    width: $desktop-column;
  }
}
