.map {
  min-width: 320px;
}

.map__wrapper {
  position: relative;

  height: 457px;
  margin: 0 auto;
}

.map__iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.map__img {
  position: absolute;
  top: 0;
  left: calc(50% - 160px);

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-map-pin.svg");
    width: 66px;
    height: 100px;
    top: 145px;
    left: 140px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    flex-grow: 1;
  }
}
