.modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  background-color: rgba(255, 255, 255, 0.9);
  // z-index: 2;
}

.modal__content {
  background-color: white;
  border-top: $pearl;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);

  user-select: none;
}
