.page-main {
  margin-bottom: 40px;
}

.page-main__title {
  margin: auto;
  padding: 76px 0 78px;

  font-size: 27px;
  text-align: center;
  color: $big-text-color;
  background-color: $blanc;
}

.page-main__section-title {
  // margin: auto;

  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  font-family: $default-font;
  color: $big-text-color;
}

.page-main__curly-divider {
  display: block;
  height: 6px;

  background-image: url("../img/bg-zigzag-line.svg");
  background-size: auto 100%;
}

.page-main__zigzag-divider {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-main__section-title {
    font-size: 43px;
    line-height: 50px;
  }

  .page-main__zigzag-divider {
    display: block;
    height: 24px;
    margin-top: -12px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-size: auto 100%;
    position: relative;
    z-index: 1;
  }
}


@media (min-width: $desktop-width) {
  .page-main__zigzag-divider {
    height: 34px;
    margin-top: -18px;
  }
}
